.gray-text{
    color: gray;
}

.container{
    margin-bottom: 50px;
}
.gap{
    margin-bottom: 25px;
}

.card-footer{
    background-color: white;
    border-top: none;
}

.border{
    height: auto;
    width: auto;
    background-color: aqua;
    border-radius: 20px;
}

.orange-text a:link{
    color: orange;
    text-decoration: none; 
}

.orange-text a:visited {
    color: orange;
    text-decoration: none; 
}


